<!-- ==================== Device Status Card ==================== -->
<ion-card>
  <ion-card-header>
    <ion-card-title>{{ 'HOME.DEVICE_STATUS.TITLE' | translate }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item-group>
      <!-- Connection Status -->
      <ion-item>
        <ion-icon name="wifi" slot="start" color="{{getDeviceNetworkStatus() ? 'success' : 'danger'}}"></ion-icon>
        <ion-label>
          <h2>{{ 'HOME.DEVICE_STATUS.CONNECTION_STATUS_TITLE' | translate }}</h2>
          <h3>{{ getDeviceNetworkStatus() ? ('HOME.DEVICE_STATUS.CONNECTION_STATUS_ONLINE' | translate) : ('HOME.DEVICE_STATUS.CONNECTION_STATUS_OFFLINE' | translate) }}</h3>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-card-content>
</ion-card>
