<!-- =================== Settings Page Header =================== -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#" (click)="navigateToHome()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'SETTINGS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<!-- ================== Settings Page Content =================== -->
<ion-content class="background" [fullscreen]="true">
  <!-- Display application settings -->
  <app-app-settings></app-app-settings>
</ion-content>
